/* 
  Reset
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
  Variables (custom proprieties for the projects)
*/

:root {
  --primary-color: #d35649;
  --primary-gray: #98a5a5;
  --primary-blue: #509bd7;
  --gray-footer: #1f1f1f;
  --gray-footer-btn: #444;
  --primary-purple: #575a89;
  --light-gray: #eee;
}

html {
  font-size: 62.5%; /* Change the default size 16px to 10px */
}

body {
  font-size: 1.6rem; /* Rehanged the font size to 16px */
  font-family: "Lato", sans-serif;
  width: 100%;
}

.navbar {
  background-color: var(--primary-color);
}

.navbar .navbar-brand {
  text-shadow: 1px 3px var(--primary-blue);
}

.navbar-nav {
  gap: 3.2rem;
  font-weight: 600;
}

.nav-icon {
  margin-right: 5px;
  font-size: 2rem;
}

header {
  background-image: url("../images/group-1.jpg");
  background-size: cover;
  background-position: center;
  padding: 8.6rem 0;
}

header h1 {
  text-shadow: 1px 3px #1f1f1fa8;
}

header form {
  background-color: rgba(255, 255, 255, 0.767);
  padding: 4.8rem;
  border-radius: 8px;
}

header .custom-btn {
  background-color: rgba(255, 255, 255, 0.767);
  width: max-content;
  margin: 3.2rem auto 0 auto;
}

nav .nav-item a,
.social-link li {
  transition: all 0.3s;
}

.navbar .navbar-nav .nav-item .text-white:hover,
.social-link li:hover {
  color: var(--primary-gray) !important;
  cursor: pointer;
}

/* Redefining btn style */

.btn {
  height: 4.8rem;
  padding: 0 2.4rem;
  font-family: inherit;
  font-weight: 900;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  text-transform: uppercase;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #ce4536;
  border-color: #ce4536;
}

.form-control::placeholder {
  font-size: 1.6rem;
}

h2 {
  color: var(--primary-color);
}

.simple-paragraph {
  line-height: 160%;
}

section,
footer .cta {
  padding: 5.6rem 0;
}

.section-working img {
  width: 4.2rem;
}

.section-why .reason-1 {
  background-color: var(--primary-color);
}

.section-why .reason-2 {
  background-color: var(--primary-gray);
}

.section-why .reason-3 {
  background-color: var(--primary-blue);
}

.section-why .rounded-col {
  height: 32rem;
  width: 32rem;
}

.section-why .rounded-col img {
  width: 150%;
}

.btn-square {
  background-color: #fff;
}

footer .foot-nav {
  width: 75%;
  justify-content: center;
}

footer .cta {
  background-color: #070707;
}

footer .navigation ul {
  gap: 1%;
}

footer .navigation ul {
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}

footer .navigation ul .geo-icon-item {
  background-color: #070707;
  height: 5rem;
  width: 12rem;
  position: relative;
}

/* Geo localization icon in the footer */
footer .navigation ul .geo-icon-item::before {
  height: 12rem;
  width: 12rem;
  content: "";
  display: block;
  background-color: #070707;
  position: absolute;
  left: 42%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

footer .navigation ul .geo-icon-item::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  background-image: url(../images/icons/mapsnavbar_icon.svg);
  background-size: cover;
  background-position: 50% 10px;
  position: absolute;
  height: 10rem;
  width: 10rem;
  top: -50%;
  border: solid 1px #eee;
  border-radius: 50%;
  background-color: #070707;
}

.copyright-box {
  background-color: var(--gray-footer-btn);
  color: #eee;
}

.m-reason-1 {
  background: var(--primary-gray);
}

.m-reason-1 .container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/group-4.jpg);
}

.m-reason-2 {
  background: var(--primary-color);
}

.m-reason-2 .container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/group-2.jpg);
}

.m-reason-3 {
  background: var(--primary-blue);
}

.m-reason-3 .container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/group-3.jpg);
}

.mobile-section-why .container {
  background-size: cover;
  color: #fff;
  border-radius: 1.3rem;
}

@media screen and (max-width: 768px) {
  #event-search {
    height: 4.8rem;
    margin-bottom: 2.4rem;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  header form {
    padding: 2.4rem;
  }

  .section-why {
    padding-top: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  footer .foot-nav {
    width: 90%;
  }
}
