/* 
  Reset
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
  Variables (custom proprieties for the projects)
*/

:root {
  --primary-color: #d35649;
  --primary-gray: #98a5a5;
  --primary-blue: #509bd7;
  --gray-footer: #1f1f1f;
  --gray-footer-btn: #444;
  --primary-purple: #575a89;
  --light-gray: #eee;
}

html {
  font-size: 62.5%; /* Change the default size 16px to 10px */
}

body {
  font-size: 1.6rem; /* Rehanged the font size to 16px */
  font-family: 'Lato', sans-serif;
}

.navbar {
  background-color: var(--primary-color);
}

.navbar .navbar-brand {
  text-shadow: 1px 3px var(--primary-blue);
}

.navbar-nav {
  gap: 3.2rem;
  font-weight: 600;
}

.nav-icon {
  margin-right: 5px;
  font-size: 2rem;
}

header {
  background-image: url("../images/group-1.jpg");
  background-size: cover;
  background-position: center;
  padding: 8.6rem 0;
}

header h1 {
  text-shadow: 1px 3px #1f1f1f5b;
}

header form {
  background-color: rgba(255, 255, 255, 0.767);
  padding: 4.8rem;
  border-radius: 8px;
}

header .custom-btn {
  background-color: rgba(255, 255, 255, 0.767);
  width: max-content;
  margin: 3.2rem auto 0 auto;
}

/* Redefining btn style */

.btn {
  height: 4.8rem;
  padding: 0 2.4rem;
  font-family: inherit;
  font-weight: 900;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  text-transform: uppercase;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #ce4536;
  border-color: #ce4536;
}

.form-control::placeholder {
  font-size: 1.6rem;
}